.u-margin-bottom-big {
  margin-bottom: 4rem !important; }

.u-margin-bottom-md {
  margin-bottom: 2rem !important; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #696464; }

.heading-primary {
  color: #eeeeee;
  text-transform: uppercase;
  margin-bottom: 10rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.3rem;
    animation: bounceInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: bounceInRight 1s ease-out; }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translate(-12rem); }
  60% {
    transform: translateX(1rem); }
  70% {
    transform: translateX(-1rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translate(12rem); }
  60% {
    transform: translateX(-1rem); }
  70% {
    transform: translateX(1rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }

.btn, .btn:link,
.btn .btn:visited {
  color: #eeeeee;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 3rem 1.5rem 6rem;
  border-radius: 10rem 4rem 4rem 10rem;
  font-size: 1.6rem;
  transition: all .3s; }

.btn--apply {
  transform: rotateX(20deg);
  background-color: #ff6363;
  position: relative;
  -webkit-box-shadow: 0px 10px 0px #ad2b2bab;
  -moz-box-shadow: 0px 10px 0px #ad2b2bab;
  box-shadow: 0px 10px 0px #ad2b2bab, 0px 0px 15px rgba(0, 0, 0, 0.8); }
  .btn--apply:active {
    transform: rotateX(0deg);
    -webkit-box-shadow: 0px 0 0px transparent;
    -moz-box-shadow: 0px 0 0px transparent;
    box-shadow: 0px 0 0px transparent; }
  .btn--apply::before {
    position: absolute;
    left: .6rem;
    top: .75rem;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    background-color: #eeeeee;
    content: "";
    border-radius: 50%; }
  .btn--apply .far,
  .btn--apply .fas {
    color: #525252;
    position: absolute;
    left: 1.3rem;
    top: 1.45rem;
    font-size: 2.5rem; }

.btn--animated {
  animation: bounceIn .5s ease-out .75s;
  animation-fill-mode: backwards; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.row:not(:last-child) {
  margin-bottom: 6rem; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }

[class^="col-1-of-2"] {
  width: calc((100% - 6rem) / 2); }
  @media only screen and (max-width: 37.5em) {
    [class^="col-1-of-2"][class*="-tabPort"] {
      width: 100%; }
      [class^="col-1-of-2"][class*="-tabPort"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col-1-of-2"][class*="-tabLand"] {
      width: 100%; }
      [class^="col-1-of-2"][class*="-tabLand"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    [class^="col-1-of-2"][class*="-bigDesktop"] {
      width: 100%; }
      [class^="col-1-of-2"][class*="-bigDesktop"]:not(:last-child) {
        margin-bottom: 6rem; } }

[class^="col-1-of-3"] {
  width: calc((100% - 2 * 6rem) / 3); }
  @media only screen and (max-width: 37.5em) {
    [class^="col-1-of-3"][class*="-tabPort"] {
      width: 100%; }
      [class^="col-1-of-3"][class*="-tabPort"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col-1-of-3"][class*="-tabLand"] {
      width: 100%; }
      [class^="col-1-of-3"][class*="-tabLand"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    [class^="col-1-of-3"][class*="-bigDesktop"] {
      width: 100%; }
      [class^="col-1-of-3"][class*="-bigDesktop"]:not(:last-child) {
        margin-bottom: 6rem; } }

[class^="col-2-of-3"] {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  @media only screen and (max-width: 37.5em) {
    [class^="col-2-of-3"][class*="-tabPort"] {
      width: 100%; }
      [class^="col-2-of-3"][class*="-tabPort"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col-2-of-3"][class*="-tabLand"] {
      width: 100%; }
      [class^="col-2-of-3"][class*="-tabLand"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    [class^="col-2-of-3"][class*="-bigDesktop"] {
      width: 100%; }
      [class^="col-2-of-3"][class*="-bigDesktop"]:not(:last-child) {
        margin-bottom: 6rem; } }

[class^="col-1-of-4"] {
  width: calc((100% - 3 * 6rem) / 4); }
  @media only screen and (max-width: 37.5em) {
    [class^="col-1-of-4"][class*="-tabPort"] {
      width: 100%; }
      [class^="col-1-of-4"][class*="-tabPort"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col-1-of-4"][class*="-tabLand"] {
      width: 100%; }
      [class^="col-1-of-4"][class*="-tabLand"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    [class^="col-1-of-4"][class*="-bigDesktop"] {
      width: 100%; }
      [class^="col-1-of-4"][class*="-bigDesktop"]:not(:last-child) {
        margin-bottom: 6rem; } }

[class^="col-2-of-4"] {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  @media only screen and (max-width: 37.5em) {
    [class^="col-2-of-4"][class*="-tabPort"] {
      width: 100%; }
      [class^="col-2-of-4"][class*="-tabPort"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col-2-of-4"][class*="-tabLand"] {
      width: 100%; }
      [class^="col-2-of-4"][class*="-tabLand"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    [class^="col-2-of-4"][class*="-bigDesktop"] {
      width: 100%; }
      [class^="col-2-of-4"][class*="-bigDesktop"]:not(:last-child) {
        margin-bottom: 6rem; } }

[class^="col-3-of-4"] {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  @media only screen and (max-width: 37.5em) {
    [class^="col-3-of-4"][class*="-tabPort"] {
      width: 100%; }
      [class^="col-3-of-4"][class*="-tabPort"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    [class^="col-3-of-4"][class*="-tabLand"] {
      width: 100%; }
      [class^="col-3-of-4"][class*="-tabLand"]:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 75em) {
    [class^="col-3-of-4"][class*="-bigDesktop"] {
      width: 100%; }
      [class^="col-3-of-4"][class*="-bigDesktop"]:not(:last-child) {
        margin-bottom: 6rem; } }

.header {
  height: 100vh;
  background-image: linear-gradient(to left bottom, rgba(96, 32, 128, 0.8), rgba(32, 32, 96, 0.8)), url(../img/image-1.jpg);
  background-size: cover;
  background-position: 0 65%;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 30% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 30% 100%, 0% 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #eeeeee;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 5rem;
  left: 5rem;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%; }

.navigation__icon {
  position: relative;
  background-color: black;
  display: inline-block;
  top: 2.4rem;
  left: 1.2rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    height: 2px;
    width: 2.5rem;
    background-color: black; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::after {
    top: .6rem; }
  .navigation__icon::before {
    top: -.6rem; }
