.u-margin-bottom-huge {
  margin-bottom: 6rem !important; }

.u-margin-bottom-big {
  margin-bottom: 4rem !important; }

.u-margin-bottom-md {
  margin-bottom: 2rem !important; }

.u-margin-bottom-sm {
  margin-bottom: 1rem !important; }

.u-margin-top-huge {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 4rem !important; }

.u-margin-top-md {
  margin-top: 2rem !important; }

.u-margin-top-sm {
  margin-bottom: 1rem !important; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #7a7a7a; }

.heading-primary {
  color: #f2f4f6;
  text-transform: uppercase;
  margin-bottom: 10rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.3rem;
    animation: bounceInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: bounceInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  color: #202060;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: .3rem;
  letter-spacing: .3rem;
  background-image: linear-gradient(to right, #9ea9f0, #553c8b);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .25s; }
  .heading-secondary:hover {
    -webkit-mask-image: linear-gradient(to right, rgba(32, 32, 96, 0.8) 30%, #202060 50%, rgba(85, 60, 139, 0.8) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    transform: scale(1.05); }

.heading-tertiary {
  color: #602080;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  line-height: 2;
  word-spacing: .2rem;
  letter-spacing: .2rem; }

.paragraph {
  font-size: 1.6rem;
  color: #7a7a7a;
  word-spacing: .2rem;
  text-align: justify; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85, 60, 139, 0.75), rgba(0, 0, 0, 0)); }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translate(-12rem); }
  60% {
    transform: translateX(1rem); }
  70% {
    transform: translateX(-1rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translate(12rem); }
  60% {
    transform: translateX(-1rem); }
  70% {
    transform: translateX(1rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.6); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }

@keyframes shine {
  from {
    -webkit-mask-position: 150%; }
  to {
    -webkit-mask-position: -50%; } }

.btn, .btn:link,
.btn .btn:visited {
  color: #f2f4f6;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 3rem 1.5rem 6rem;
  border-radius: 10rem 4rem 4rem 10rem;
  font-size: 1.6rem;
  transition: all .3s; }

.btn--apply {
  transform: rotateX(20deg);
  background-color: #ff6363;
  position: relative;
  -webkit-box-shadow: 0px 10px 0px #ad2b2bab;
  -moz-box-shadow: 0px 10px 0px #ad2b2bab;
  box-shadow: 0px 10px 0px #ad2b2bab, 0px 0px 15px rgba(0, 0, 0, 0.8); }
  .btn--apply:active {
    transform: rotateX(0deg);
    -webkit-box-shadow: 0px 0 0px transparent;
    -moz-box-shadow: 0px 0 0px transparent;
    box-shadow: 0px 0 0px transparent; }
  .btn--apply::before {
    position: absolute;
    left: .6rem;
    top: .75rem;
    height: 4rem;
    width: 4rem;
    display: inline-block;
    background-color: #f2f4f6;
    content: "";
    border-radius: 50%; }
  .btn--apply .far,
  .btn--apply .fas {
    color: #525252;
    position: absolute;
    left: 1.3rem;
    top: 1.45rem;
    font-size: 2.5rem; }

.btn--animated {
  animation: bounceIn .5s ease-out .75s;
  animation-fill-mode: backwards; }

.instructor {
  padding-bottom: 6rem;
  padding-top: 1.5rem;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(85, 60, 139, 0.75)); }
  .instructor:nth-of-type(odd) {
    border-left: 2px solid;
    padding-left: 2rem;
    border-image-source: linear-gradient(-45deg, rgba(85, 60, 139, 0.75), rgba(0, 0, 0, 0));
    border-image-slice: 1; }
    .instructor:nth-of-type(odd) .instructor__shape {
      float: left;
      margin-right: 3rem; }
  .instructor:nth-of-type(even) {
    border-right: 2px solid;
    padding-right: 2rem;
    border-image-source: linear-gradient(45deg, rgba(85, 60, 139, 0.75), rgba(0, 0, 0, 0));
    border-image-slice: 1; }
    .instructor:nth-of-type(even) .instructor__shape {
      float: right;
      margin-left: 5rem; }
  .instructor__shape {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin-right: 3rem;
    position: relative; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .instructor__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
  .instructor__img {
    height: 100%;
    width: 100%;
    transform: scale(1.2);
    transition: all .5s; }
  .instructor__caption {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    transition: all .5s;
    opacity: 0; }
  .instructor:hover .instructor__img {
    filter: blur(1px) brightness(80%);
    transform: scale(1.05); }
  .instructor:hover .instructor__caption {
    opacity: 1; }
  .instructor:hover {
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); }

.procedure {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  transition: all .4s; }
  .procedure ul {
    list-style: none; }
  .procedure__steps .fa-level-down-alt {
    font-size: 5rem;
    color: #602080; }
  .procedure__steps .fa-level-down-alt:nth-of-type(even) {
    display: block;
    text-align: right;
    position: relative;
    left: 10%;
    transform: rotateY(180deg); }
  .procedure__steps .fa-level-down-alt:nth-of-type(odd) {
    display: block;
    text-align: center;
    position: relative; }
  .procedure__step {
    letter-spacing: .2rem;
    color: #7a7a7a; }
    .procedure__step:first-child {
      padding-top: 2.5rem; }
    .procedure__step:not(:last-child) {
      margin-bottom: 4.5rem; }
    .procedure__step:not(:first-child) {
      margin-top: 4.5rem; }
    .procedure__step:nth-of-type(even) {
      text-align: center; }
      .procedure__step:nth-of-type(even):hover {
        transform: skewY(-2deg) skewX(-10deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(96, 32, 128, 0.2); }
    .procedure__step:nth-of-type(odd) {
      text-align: left; }
      .procedure__step:nth-of-type(odd):hover {
        transform: skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(96, 32, 128, 0.2); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 3px;
  transition: transform .5s; }
  .feature-box__icon {
    font-size: 5rem;
    color: #ad2b2bab; }
  .feature-box__title {
    background-image: linear-gradient(to right, #ff6363, #ad2b2bab);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    padding-top: 2rem;
    font-size: 1.6rem; }
  .feature-box:first-child {
    margin-left: 10%; }
  .feature-box:last-child {
    margin-right: 10%; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.01); }
  .feature-box:hover .feature-box__icon {
    color: rgba(255, 99, 99, 0.6); }

.row::after {
  content: "";
  display: table;
  clear: both; }

.row:not(:last-child) {
  margin-bottom: 6rem; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 1rem; }

[class^="col-1-of-2"] {
  width: calc((100% - 1rem) / 2); }

[class^="col-1-of-3"] {
  width: calc((100% - 2 * 1rem) / 3); }

[class^="col-2-of-3"] {
  width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }

[class^="col-1-of-4"] {
  width: calc((100% - 3 * 1rem) / 4); }

[class^="col-2-of-4"] {
  width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }

[class^="col-3-of-4"] {
  width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

.header {
  height: 100vh;
  background-image: linear-gradient(to left bottom, rgba(96, 32, 128, 0.8), rgba(32, 32, 96, 0.8)), url(../img/image-1.jpg);
  background-size: cover;
  background-position: 0 65%;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 30% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 30% 100%, 0% 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 5rem;
  left: 5rem;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%; }

.navigation__icon {
  position: relative;
  background-color: black;
  display: inline-block;
  top: 2.4rem;
  left: 1.2rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    height: 2px;
    width: 2.5rem;
    background-color: black; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::after {
    top: .6rem; }
  .navigation__icon::before {
    top: -.6rem; }

.section-technologies {
  padding: 35rem 0 35rem 0;
  margin-top: -25vh;
  background-color: #f2f4f6; }
  .section-technologies .row {
    margin-left: 10%;
    margin-right: 10%; }

.section-course {
  background-image: linear-gradient(to left bottom, rgba(96, 32, 128, 0.5), rgba(32, 32, 96, 0.8)), url(../img/programming.jpg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 75%, 0% 100%);
  clip-path: polygon(0 25vh, 100% 0, 100% 75%, 0% 100%);
  margin-top: -25vh;
  text-align: center;
  position: relative;
  text-align: center; }
  .section-course .row:first-of-type .feature-box:first-of-type {
    margin-top: 35vh; }
  .section-course .row:last-of-type .feature-box:first-of-type {
    margin-bottom: 35vh; }
