.u-margin-bottom-huge{
    margin-bottom: $margin-huge !important;
}

.u-margin-bottom-big{
    margin-bottom: $margin-big !important;
}

.u-margin-bottom-md{
    margin-bottom: $margin-md !important;
}

.u-margin-bottom-sm{
    margin-bottom: $margin-sm !important;
}

.u-margin-top-huge{
    margin-top: $margin-huge !important;
}

.u-margin-top-big{
    margin-top: $margin-big !important;
}

.u-margin-top-md{
    margin-top: $margin-md !important;
}

.u-margin-top-sm{
    margin-bottom: $margin-sm !important;
}
