// COLORS
$color-grey-dark: #696464;
$color-grey-light: #eeeeee;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

//GRID
$grid-vertical-space: 6rem;
$grid-horizontal-space: 6rem;
