// COLORS
$color-grey-dark: #7a7a7a;
$color-grey-light: #f2f4f6;
$color-main-purple: #602080;
$color-main-purple-light: #553c8b;
$color-main-blue: #202060;
$color-main-blue-light: #9ea9f0;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

//GRID
$grid-vertical-space: 6rem;
$grid-horizontal-space: 6rem;

//MARGINS
$margin-huge: 6rem;
$margin-big: 4rem;
$margin-md: 2rem;
$margin-sm: 1rem;

