.row{
    @include clearfix;
   

    &:not(:last-child){
        margin-bottom: $grid-vertical-space;
    }
}


[class^="col-"]{
    float: left;;
    &:not(:last-child){
        margin-right: $grid-horizontal-space;
    }
}


[class^="col-1-of-2"] {

    width: calc((100% - #{$grid-horizontal-space}) / 2);
    //@include setWidthOfColumnDependingOnActualScreenWidth;
}


[class^="col-1-of-3"] {
    width: calc((100% - 2 * #{$grid-horizontal-space}) / 3);
    //@include setWidthOfColumnDependingOnActualScreenWidth;
}

[class^="col-2-of-3"] {
    width: calc(2 * ((100% - 2 * #{$grid-horizontal-space}) / 3) + #{$grid-horizontal-space});
    //@include setWidthOfColumnDependingOnActualScreenWidth;
}

[class^="col-1-of-4"] {

    width: calc((100% - 3 * #{$grid-horizontal-space}) / 4);
    //@include setWidthOfColumnDependingOnActualScreenWidth;

}

[class^="col-2-of-4"] {
    width: calc(2 * ((100% - 3 * #{$grid-horizontal-space}) / 4) + #{$grid-horizontal-space});
    //@include setWidthOfColumnDependingOnActualScreenWidth;
}

[class^="col-3-of-4"] {
    width: calc(3 * ((100% - 3 * #{$grid-horizontal-space}) / 4) + 2 * #{$grid-horizontal-space});
    //@include setWidthOfColumnDependingOnActualScreenWidth;
}



