.header{
    height: 100vh;
        background-image: linear-gradient(to left bottom, 
        rgba($color-main-purple, 0.8), 
        rgba($color-main-blue, 0.8)), url(../img/image-1.jpg);
        //background-image:url(../img/image-1.jpg);
    background-size: cover;
    background-position: 0 65%;
    position: relative;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,30% 100%,0% 100%);
    clip-path: polygon(0 0, 100% 0,  100% 75vh,30% 100%,0% 100%);


    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }


}



