.btn{
    
    &,
    &:link,
    .btn:visited {
        color: $color-grey-light;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 1.5rem 3.5rem;
        padding: 1.5rem 3rem 1.5rem 6rem;
        border-radius: 10rem 4rem 4rem 10rem;
        font-size: $default-font-size;;
    }

    &--apply{
        background-color: #ff6363;
        position: relative;
        &::before{
            position: absolute;
            left: .6rem;
            top:.6rem;
            height: 4rem;
            width: 4rem;
            display: inline-block;
            background-color: $color-grey-light;
            content:"";
            border-radius: 50%;
        }

        .far,
        .fas{
            color: #525252;
            position: absolute;
            left: 1.3rem;
            font-size: 2.5rem;
        }

    }


    
}