.section-technologies{
    //padding: 35rem 0;
    padding: 35rem 0 15rem 0;
    margin-top: -25vh;
    background-color: $color-grey-light;

    & .row{
        margin-left: 10%;
        margin-right: 10%;
    }

}

.section-test{
    //TODO
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,30% 100%,0% 100%);
    // clip-path: polygon(0 0, 100% 0,  100% 75vh,30% 100%,0% 100%);

}

